{% extends 'base.html' %}

{% block extra_header %}
    <title>New Room</title>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <label>Name:</label><br>
    <input type="text" name="name" value="{{room.name}}"><br>
    <label>Capacity:</label><br>
    <input type="number" name="capacity" value={{room.capacity}}><br>
    <label>Projector:</label>
    {% if room.projector == True %}
    <input type="radio" name="projector" value="True" checked="checked">Yes
    <input type="radio" name="projector" value="False">No<br>
    {% else %}
    <input type="radio" name="projector" value="True">Yes
    <input type="radio" name="projector" value="False" checked="checked">No<br>
    {% endif %}
    <input type="submit" value="submit">
</form>
{% endblock %}