{% extends 'base.html' %}
{% block extra_header %}
<title>Reservation {{room.name}}</title>
{% endblock %}

{% block content %}
<h1>{{room.name}}</h1>
<p>Capacity: {{room.capacity}}, Projector:
    {% if room.projector == True %}
    Yes
    {% else %}
    no
    {% endif %}</p>
<form method="POST">
    {% csrf_token %}
    <label>date:</label>
    <input type="date" name="date"><br>
    <labe>comment: </labe>
    <textarea class="form-control" rows="3" name="comment" placeholder="Comment..."></textarea>
    <input type="submit" value="submit">
</form><br>
<p>Already taken</p>
<table>
<tr>
    <th>date</th>
    <th>comment</th>
    <th></th>
</tr>
    {% for reservation in reservations %}
    <td>{{reservation.date|date:"d M Y" }}</td>
    <td>{{reservation.comment}}</td>
    <td>
        <a href="{% url 'edit-reservation' room.id reservation.id %}"><button type="button" class="btn btn-success">Edit</button> </a>
        <a href="{% url 'delete-reservation' room.id reservation.id %}"><button type="button" class="btn btn-danger">Cancel</button></a>
    </td>
</tr>
    {% endfor %}
</table>
{% endblock %}