{% extends 'base.html' %}

{% block extra_header %}
    <title>Room list</title>
{% endblock %}

{% block content %}
<p>SEARCH</p>
<form method="GET" action="{% url 'search' %}">
    <label>name:</label><br>
    <input type="text" name="name"><br>
    <label>min. capacity:</label><br>
    <input type="number" name="capacity"><br>
    <label>date:</label><br>
    <input type="date" name="date"><br>
    <label>projector:</label><br>
    <input type="radio" name="projector" value="True">Yes
    <input type="radio" name="projector" value="False">No<br>
    <input type="submit" value="submit">
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Projector</th>
        <th>Action</th>
    </tr>
    {% for room in rooms %}
    <tr>
        <td>
            <a href="{% url 'reservation' room.id %}">{{room.name}}</a>
        </td>
        <td>{{room.capacity}} seats</td>
        <td>
    {% if room.projector == True %}
    Yes</td>
    {% else %}
    No</td>
    {% endif %}
        <td>
            <a href="{% url 'edit-room' room.id %}"><button type="button" class="btn btn-success">Edit</button></a>
            <a href="{% url 'delete-room' room.id%}"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}}